{% extends "plantilla_base.html" %}

{% block content %}
    <center>
        <div class="container-fluid" style="margin-top: 60px;">
            <h1 class="col-12">Bievenida</h1>

                <p>Bievenido a <em>My HW Factory</em>, En Django!</p>

            <h2>Contenido Dinamico</h2>
            <form action="" method="POST">
                {%csrf_token%}
                <input type="submit" action="" value="Delete" >
            </form>
            {% endblock %}
    
        </div>
    </center>
{% endblock %}